@media screen and (min-width: 320px) {
  .hero__wrapper {
    padding: 60px 0;
  }
  .hero__list {
    display: flex;
    gap: 15px;
  }
  .hero__link {
    font-family: $fontPrimary;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: var(--hero-green-link);
    @include font(18px, 500, 27px);
    color: var(--primary-color-text);
  }
  .hero__link--orange {
    background-color: var(--hero-orange-link);
  }
  .hero__text {
    font-family: $fontPrimary;
    @include font(133px, 900, 186px);
    text-transform: uppercase;
    color: var(--hero-course);
  }
  .hero__title {
    font-family: $secondaryFont;
    @include font(36px, 900, 43px);
    color: var(--secondary-color-text);
  }
}

@media screen and (min-width: 767px) {
  .hero__text {
    color: var(--hero-course);
  }
  .hero__wrapper {
    padding: 60px 0 0 0;
  }
}
@media screen and (min-width: 320px) {
  .hero__name {
    position: absolute;
    top: 200px;
  }
  .hero__text {
    position: absolute;
    top: 20px;
  }
  .hero__title {
    position: absolute;
    top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .inform-price {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
