.proposition {
  padding-top: 60px;
  padding-bottom: 60px;
}
.proposition__title {
  font-family: $secondaryFont;
  @include font(30px, 900, 36px);
  text-align: center;
  margin-bottom: 30px;
}

.proposition__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 22px;
}
.proposition__item {
  width: calc((100%) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposition__icon {
  width: 80px;
  height: 80px;

  &:hover,
  &:focus {
    fill: var(--accent);
    transition: fill var(--transition-dur-and-func);
  }
}
.proposition__text {
  @include font(16px, 400, 24px);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .proposition__title {
    @include font(40px, 900, 48px);
    margin-bottom: 45px;
  }
  .proposition__list {
    gap: 30px;
  }
  .proposition__item {
    width: calc((100% - 60px) / 3);

    &:last-child {
      display: none;
    }
    &:nth-last-child(7) {
      display: none;
    }
  }

  .proposition__icon {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
} ;
