@media screen and (max-width: 767px) {
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}
@media screen and (min-width: 767px) {
  .header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95px;
  }
}
