.hero {
  z-index: 10;
  background: rgb(10, 114, 222);
  background: linear-gradient(
    217deg,
    rgba(10, 114, 222, 0.11558126668636204) 0%,
    rgba(47, 47, 47, 1) 37%
  );
}
.background-img {
  height: 371px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
  background-image: url("../images/mobile/hero-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .background-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .background-img {
    height: 750px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .background-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .background-img {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .background-img {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    background: rgb(10, 114, 222);
    background: linear-gradient(
      270deg,
      rgba(10, 114, 222, 0.11558126668636204) 0%,
      rgba(38, 35, 35, 1) 40%
    );
  }
  .background-img {
    width: 900px;
    height: 900px;
  }
}
