.hero {
  z-index: 10;
  background: rgb(47, 47, 47);
  background: linear-gradient(
    21deg,
    rgba(47, 47, 47, 1) 48%,
    rgba(255, 255, 255, 0) 100%
  );
}
.hero__img {
  position: relative;
  z-index: -10;
  width: 500px;
  height: 500px;
}

// }
// .hero__content-box {
//   padding-bottom: 60px;
//   background-color: var(--primary-color-text);
// }
// .hero__img-box {
//   max-width: 480px;
//   height: 371px;
//   margin-right: auto;
//   margin-left: auto;
//   position: relative;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-image: url("../images/mobile/hero-mobile.jpg");
// }

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__img-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__img-box {
    max-width: 768px;
    height: 750px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__img-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__img-box {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__img-box {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero__img {
    width: 750px;
    height: 750px;
  }
}
