.hero__wrapper {
  position: relative;
}
.hero__img {
  width: 100%;
  display: block;
  background-size: cover;
}
// .hero__img-box {
//   max-width: 480px;
//   height: 371px;
//   margin-right: auto;
//   margin-left: auto;
//   position: relative;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-image: url("../images/mobile/hero-mobile.jpg");
// }

.hero__content-box {
  background-color: var(--primary-color-text);
}
.hero__name {
  position: absolute;
  top: 168px;
  left: 0;
}

// @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//   screen and (min-resolution: 192dpi) and (max-width: 767px),
//   screen and (min-resolution: 2dppx) and (max-width: 767px) {
//   .hero__img-box {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/mobile/hero-mobile@2x.jpg");
//   }
// }
// @media screen and (min-width: 768px) {
//   .hero__img-box {
//     max-width: 768px;
//     height: 750px;
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/tablet/hero-tablet.jpg");
//   }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//   screen and (min-resolution: 192dpi) and (min-width: 768px),
//   screen and (min-resolution: 2dppx) and (min-width: 768px) {
//   .hero__img-box {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/tablet/hero-tablet@2x.jpg");
//   }
// }

// @media screen and (min-width: 1200px) {
//   .hero__img-box {
//     max-width: 1600px;
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/desktop/hero-desktop.jpg");
//   }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//   screen and (min-resolution: 192dpi) and (min-width: 1200px),
//   screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero__img-box {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/desktop/hero-desktop@2x.jpg");
//   }
// }

@media screen and (min-width: 1200px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
