.mobile-menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .mobile-nav__list {
    $fontPrimary: Roboto, sans-serif;
    @include font(40px, 500, 52px);
  }

  .mobile-nav__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .mobile-nav__link {
    color: var(--primary-color-text);

    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
  .mobile-nav__link--current {
    color: var(--accent);
  }
}
