@media screen and (max-width: 767px) {
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    width: 35px;
    height: 35px;

    &:hover,
    &:focus {
      fill: var(--accent);
    }
  }
}
