:root {
  --primary-color-text: #2b2b2a;
  --secondary-color-text: #ffffff;
  --aditional-clor-text: #b7b7b7;
  --accent: #188ce8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$fontPrimary: "Roboto", sans-serif;
$secondaryFont: "Inter", sans-serif;
